*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2020-02-20-test.md
_posts/2022-09-07-Boolean-Expressions-and-If-Statements.md
_posts/2022-09-06-code-org.md
_posts/2022-08-22-Python-Notebook.md
_posts/2022-09-06-Using-Objects.md
_posts/2022-08-22-Java-Notebook.md
_posts/2022-08-24-Primitives.md
_posts/2022-08-25-Bash-Tutorial.md
_posts/2022-09-20-AP-CSA-FRQ1.md
_posts/2022-09-20-Iteration.md
_posts/2022-09-26-Fibonacci.md
_posts/2022-09-26-JavaScript-Tutorial.md
_posts/2022-09-26-Tic-Tac-Toe.md
_notebooks/2020-02-20-test.ipynb
_posts/2022-10-03-Arrays-And-Images.md
_posts/2022-10-03-APIs.md
_posts/2022-10-10-ArrayLists.md
_posts/2020-02-20-test.md
_posts/2022-10-13-Unit-03.md
_posts/2022-10-19-Unit-04.md
_posts/2022-10-20-Unit-05.md
_posts/2022-10-12-Unit-01.md
_posts/2022-10-13-Unit-02.md
_posts/2022-10-25-Unit-06.md
_posts/2022-10-26-Unit-07.md
_posts/2022-11-02-Unit-10.md
_posts/2022-11-01-Unit-09.md
_posts/2022-10-27-Unit-08.md
_posts/2022-10-18-Unit-03.md
_pages/05_API.html
_posts/2022-10-26-ArrayList-Presentation.md
_posts/2022-12-02-Vocab.md
_pages/03_2022-12-02-Vocab.md
.gitignore
_posts/2022-12-04-FRQ3.md
